.mline>div {
	display: inline;
	font-size: 14px;
	margin: 5px;
}

.mlabel {
	font-weight: bold;
	margin-right: 10px;
	text-align: right;
}


#ro>div {
	font-size: 20px;
	font-weight: bold;
}

#heading {
	font-size: 18px;
	background-color:#0b5ca3;
	padding: 10px;
	color: #fff;
	text-align: center;
	
}

#page-wrapper,
#header-logo-image,
#wrapper {
	width: 1200px;
	margin: 0 auto
}

#actions div {
	font-size: 14px;
	width: 48%;
	margin-right: 1%;
	margin-left: 1%;
}

.notes {
        color: lightslategray;
}


a:link,
a:visited {
	text-decoration: underline;
	color: #0B5CA3;
}

#header-logo-image img {
	width: 300px
}

.topic {
    font-weight: bold;
    display: inline;
}

#license a img {
height: 40px;
}
//Loading spinner
/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   speak for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('http://sampsonresume.com/labs/pIkfp.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}

#abstract pre {
    background-color: #f5f5f5;
    font-size: 14px;
    color: #444;
    border: none;
     font-family: "lato";
    padding: 4px;
    line-height: 18px;
    word-break: break-word;
    word-wrap: break-word;
    white-space: pre-wrap;
    overflow: auto;
    max-height:400px;
}

#datatable {
overflow:auto;
max-height: 600px;
}

.warning {
	color: red;
	font-size: 14px;
	border: 1px;
}


#institution, #subject {
margin-left: 20px;
color: darkgreen;
margin-top: 4px;
margin-bottom: 4px;
}
